body{ margin:0px; padding:10px; font-family: 'Raleway', sans-serif;}
.t2{ transition:all linear .2s; -moz-transition:all linear .2s; -webkit-transition:all linear .2s; -o-transition:all linear .2s; }
.progressOverlaybg{ display: none; background: rgba(255,255,255,0.8); position: fixed; top: 0px; left: 0px; width: 100%; height: 100%; }
#progress{ background:#CCC; position:fixed; top:0px; left:0px; width:100%; }
#progress-bar{ background:#0275d8; width: 0%; height: 5px; line-height:18px; color:#0275d8; font-size:14px; }
#status{  position:absolute; top:5px; padding-left:10px; }
.hide{ display: none; }